.chart-container {
  display: flex;
  flex-direction: column;
}

.chart-top {
  display: flex;
  flex-direction: column;
  flex: 3;
}

.chart {
  flex: 1;
}

.chart-bottom {
  display: flex;
  flex-direction: row;
  flex: 1;
}
